@import './../../styles/colors.scss';

.input {
  width: 100%;
  padding: 1em 2em;
  background-color: $transparent-background-color;
  border: 1px solid $primary-background-color;
  border-radius: 30px;
  color: $primary-text-color;
  font-size: 1em;
}

.input::placeholder {
    color: $primary-background-color;
    opacity: 0.8;
}
