@import './../../styles/colors.scss';

.button {
  text-align: center;
  border-radius: 30px;
  padding: 1em 2em;
  font-size: 1em;
  color: $primary-text-color;
  border: 1px solid $primary-background-color;
  transition: 0.2s;
}

.button:hover {
  background-color: $primary-background-color;
  color: $secondary-text-color;
  transition: 0.4s;
}

.primary {
  color: $secondary-text-color;
  background-color: $primary-background-color;
  border: none;
  transition: 0.2s;

}

.primary:hover {
  background-color: $primary-darker-color;
  color: $primary-text-color;
  transition: 0.4s;
}
