@import './../../styles/colors.scss';

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url('./../../media/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-text {
  padding: 5vh;
  align-items: center;
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  color: white;
}

.logo-full {
  max-height: 1em;
}

.banner {
  text-align: center;
  font-style: oblique;
  font-size: 1.5em;
}

.description {
  height: auto;
  width: 100%;
  padding: 5% 5%;
}

.wrapper {
  max-height: auto;
  width: 100%;
  padding: 2% 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact {
  height: auto;
  width: 100%;
  padding: 5vh 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $primary-color;
  color: $primary-text-color;
}

.subscribe {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: auto;
}

.wrapper-email {
  width: 100%;
  margin-right: 2%;
}

@media screen and (max-width: 800px) {
  .main {
    background: url('./../../media/background_mobile.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .logo-full {
    max-height: 0.9em;
  }

  .wrapper {
    flex-direction: column;
    padding: 0;
  }
}
