/*$primary-color: #0030aeff;
$primary-darker-color: #001685ff;
$secondary-color: #ff3e00ff;
$tertiary-color: #ff7100ff;

$primary-text-color: #ffffff;
$primary-darker-text-color: #a7a7a7;
$secondary-text-color: #000000;

$primary-background-color: #ffffff;

$transparent-background-color: rgba(#ffffff, 0);*/

$primary-color: #008c95ff;
$primary-darker-color: #03666cff;
$secondary-color: #76c1c6ff;
$tertiary-color: #40a9b0ff;

$primary-text-color: #ffffff;
$primary-darker-text-color: #a7a7a7;
$secondary-text-color: #000000;

$primary-background-color: #ffffff;

$transparent-background-color: rgba(#ffffff, 0);
