@import './../../styles/colors.scss';

.navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: $primary-background-color;
  transition: 0.2s;
  z-index: 5;
}

.scrolling {
  background-color: #ffffff;
  transition: 0.4s;

  a {
    color: $secondary-text-color;
  }

}

.logo-wrapper {
  height: 100%;
  padding: 1%;
}

.logo {
  position: relative;
  height: 100%;
}

.navbar-buttons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.navbar-button-wrapper {
  display: none;
  height: 100%;
  width: auto;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: $primary-text-color;
}

.navbar-side-button {
  display: none !important;
}

@media screen and (max-width: 800px) {
  .navbar {
    width: calc(100% - 4vh);
    margin: 2vh;
    padding: 0 2%;
    position: absolute;
    border-radius: 5px;
    background-color: white;
    color: #000000;
  }

  .logo-wrapper {
    padding: 1%;
  }

  .navbar-button-wrapper {
    display: none !important;
  }

  .navbar-side-button {
    display: flex !important;
  }
}
