@import './../../../../styles/colors.scss';

.span {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 5em;
  color: $primary-color;
}

.title {
  text-align: center;
}

.desc {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .span {
    padding-top: 5%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  .icon {
    font-size: 4em;
  }
}
