.slides {
  position: relative;
	height: 100%;
  width: 100%;
}

.slide {
	position: absolute;
	object-fit: scale-down;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
  background-size: 100% 100%;

	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}

.showing {
	opacity: 1;
	z-index: 2;
}
