@import './../../styles/colors.scss';

.footer {
  height: auto;
  width: 100%;
  padding: 2% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $primary-darker-color;
  color: $primary-darker-text-color;
}
