@import './../../styles/colors.scss';

.vacualert {
  height: 100vh;
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
}

.development_text {
    color: white;
    font-weight: 600;
}